.first__section{
    background-color: white;
    font-family: "Raleway";
    font-weight: lighter;
    text-align: center;
    padding: 1rem;
    margin-top: 2.5rem;
    
}

.text__h2{
    font-weight:450;
}

.button__shop{
    font-weight:bold;
    color:rgb(255, 255, 255);
    background-color:rgb(8, 166, 228);
    border-radius: 2em;
    padding-top: 1.2rem;
    padding-right: 5rem;
    padding-bottom: 1.2rem;
    padding-left: 5rem;
    border-color: transparent;
    box-shadow: 0 4px 2px -2px rgb(116, 160, 176);
  
}

.first__section__image{
   padding-top: 2rem;

}