.navbar{
    background-color: #ffffff;

}   

.navbar__h1 {
    font-weight:lighter;
    font-family: "Raleway";
    color:rgb(8, 166, 228);
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .8rem;
    display: inline;
}

.menu__img{
    width: 1.1rem;
    position: absolute;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .8rem;
    margin-right: 2rem;
    right: 0;

}