.second__section{
        position: relative;
        background-color: white;
        text-align: center;
        margin-top: 1rem;
    
        &__main-text{
            font-family: "Raleway";
            font-weight:300;
            font-size: xx-large;
            padding-bottom: 2rem;
        }

        &__person-icon{
            position: absolute;
            right:39%;
 
        }

        &__views-icon{
            position: absolute;
            right:35%;
            top:48.5%;

        }

        &__post-icon{
            position: absolute;
            right:37%;
            bottom: 19%;

        }

        &__red-dot, &__green-dot &__blue-dot{
            right:45%;

        }

        &__entries-number, &__views-number, &__post-number{
            font-family:"Raleway";
            font-size: large;
            font-weight: 700;
            letter-spacing: 0.3rem;
        }

        &__entries-text, &__views-text,&__post-text{
            font-family:"Raleway";
            font-weight:100;
            font-size:medium;
            color: rgb(31, 30, 30);
            padding: .8rem;
            
        }

        &__text-web{
            display:none;
            
        }

    
        @media only screen and (min-width: 1000px){

            padding-left: 3rem;
            padding-right: 3rem;

       
            &__text-web{
                display: inline-flex;
                align-items: center;
                font-family: "Raleway";
                font-weight:300;
                font-size: xx-large;
                padding-top: 3rem;
                padding-bottom: 2rem;
            }

            &__main-text{
                display: none;
            }


            &__icons-web{
                display: flex;
                margin-top: 3rem;
                margin-right: 10rem;
                margin-bottom: 4rem;
                margin-left:10rem;
                justify-content: space-around; 


            }

            &__person-icon{
                left: 26%;
                top:50.5%;

            }
    
            &__views-icon{
                left: 49%;
                top:53%;
    
            }
    
    
            &__post-icon{
                right:22.7%;
                top:51.5%;
            
            }




    }

}



