.second__section{
        position: relative;
        background-color: white;
        text-align: center;
        margin-top: 1rem;
    
        &__main-text{
            font-family: "Raleway";
            font-weight:300;
            font-size: xx-large;
            padding-bottom: 2rem;
        }

        &__person-icon{
            position: absolute;
            margin-top: 1rem;
            margin-right: 9.8rem;
            right: 0;
        }

        &__views-icon{
            position: absolute;
            margin-top: 1.6rem;
            margin-right: 8.95rem;
            right: 0;

        }


        &__post-icon{
            position: absolute;
            margin-top: 1rem;
            margin-right: 8.5rem;
            right: 0;

        }

        &__red-dot, &__green-dot &__blue-dot{
            margin-top: .5rem;
            margin-right: 1.4rem;
            right: 0;
            
        }

        &__entries-number, &__views-number, &__post-number{
            font-family:"Raleway";
            font-size: large;
            font-weight: 700;
            letter-spacing: 0.3rem;
        }

        &__entries-text, &__views-text,&__post-text{
            font-family:"Raleway";
            font-weight:100;
            font-size:medium;
            color: rgba(247, 247, 247, 1);
            padding: .8rem;
            
        }

        @media only screen and (max-width: 999px){
            &__main-text-web{
                display: none;
            }
    
        }
    
        @media only screen and (min-width: 1000px){


            &__main-text{
                display: none;
            }

            &__main-text-web{
                font-family: "Raleway";
                font-weight:300;
                font-size: xx-large;
                padding-bottom: 2rem;
            }




        }

}



