.third__section{
    background-color:rgba(232, 233, 237, 1);
    padding-top: 3rem;
    padding-right: 2em;
    padding-bottom: 2rem;
    padding-left: 2rem ;

    @media only screen and (min-width: 1000px){
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
    }

}

.first__card {
    background-color:rgba(247, 247, 247, 1);
    border-color:rgba(232, 233, 237, 1);
    margin: auto;
    margin-bottom: 3rem;
    padding-top: 2.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    border-radius: .4rem;
    text-align: center;

    &__macbook2{
        position: absolute;
        width: 50%;
        z-index: 1;
        margin-left: 1.5rem; 
    
    }

    &__dot-macbook2 {
        position: relative;
        margin-left: 6.5rem;
        margin-top: -2.5rem;

    }
    
    &__text-macbook2{
        font-family: "Raleway";
        font-size: xx-large;
        font-weight:300;
        text-align: left;
        padding-top: 2rem;
        padding-bottom: 1.2rem;
    
    }

    &__p-macbook2{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 200;
        font-size: small;
        text-align: left;
    
    }

        &__square-web{
            display: none;
    
        }
   
    @media only screen and (min-width: 1000px){

        display: flex;
        padding-top: 4rem;
        padding-bottom: 4rem;


        &__dot-macbook2 {
            display: none;
    
        }

        &__img{
            display:flex;

        }

        &__square-web{
            display:block;
            align-content:end;
            z-index: 1;
        
        }

        &__macbook2{
            display: absolute;
            right: 10%;
            width: 15%;
        
        }

        &__text{
            display: flex;
            justify-content: space-around;
            width: 50%;

        }
    }
}


.second__card {
    background-color:rgba(247, 247, 247, 1);
    border-color:rgba(232, 233, 237, 1);
    margin: auto;
    margin-bottom: 3rem;
    padding-top: 2.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    border-radius: .4rem;
    text-align: center;


    &__iphone{
        position: absolute;
        width: 45%;
        z-index: 1;

    }

    &__dot-iphone{
        position: relative;
        margin-left: .2rem;
        margin-top: -.5rem;

    }

    &__second__card__text{
        padding: .5rem;
    }

    &__text-iphone {
        font-family: "Raleway";
        font-size: xx-large;
        font-weight:300;
        text-align: left;
        margin-top: 1rem;
    
    }

    &__p-iphone{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 200;
        font-size: small;
        text-align: left;
        margin-top: 1rem;
    
    }

    @media only screen and (min-width: 1000px){

        display: flex;
        padding-top: 4rem;
        padding-bottom: 4rem;

        &__iphone{
            position: absolute;
            width: 30%;

        }

        &__dot-iphone{
            position: absolute;
            width: 10%;
            left: 10%;
            z-index: 1;
    
        }

        &__text{
            display: flex;
            justify-content: space-around;
            width: 50%;

        }

        &__img{
            display: flex;

        }


    }
    

    
}


.third__card {
    background-color:rgba(247, 247, 247, 1);
    border-color:rgba(232, 233, 237, 1);
    padding-right: 2.9rem;
    margin: auto;
    border-radius: .4rem;
    text-align: center;



    &__text-trumpet{
        font-family: "Raleway";
        font-size: xx-large;
        font-weight:300;
        text-align: left;
        padding-top: 1rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        margin: block;


    }

    &__p-trumpet{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 200;
        font-size: small;
        text-align: left;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
    }

    &__trumpet{
        position: absolute;
        width: 70%;
        z-index: 1;
        padding-top:2rem;
        padding-left: 1.5rem;
        
       
    }
    
    &__bg-trumpet{
        padding-right: 1.2rem;
        padding-bottom: 2rem;
    
    }


    @media only screen and (min-width: 1000px){
        display: flex;
        align-items: center;
        width: 50%;
        bottom:30%;
        margin:block;
        padding-top: 3rem;
        padding-bottom: 3rem;

        &__trumpet{
            position:relative;
            width: 20%;
            
        }

        &__bg-trumpet{
            position:relative;
            display: inline;
            width: 40%;
        }


    }


 }




