.third__section{
    background-color:rgba(247, 247, 247, 1);
    padding-top: 4rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    padding-left: 2rem ;

    @media only screen and (min-width: 1000px){
        padding-top: 6rem;
        padding-right: 12em;
        padding-bottom: 2rem;
        padding-left: 12rem ;

    }

}

.first__card {
    background-color:rgba(255, 255, 255, 1);
    border-color:rgba(232, 233, 237, 1);
    margin: auto;
    margin-bottom: 3rem;
    padding-top: 2.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    border-radius: .4rem;
    text-align: center;

    &__macbook2{
        position: absolute;
        width: 50%;
        z-index: 1;
        margin-left: 1.5rem; 
    
    }

    &__dot-macbook2 {
        margin-left: 6.5rem;
        margin-top: -2.5rem;

    }
    
    &__text-macbook2{
        font-family: "Raleway";
        font-size: xx-large;
        font-weight:300;
        text-align: left;
        padding-top: 2rem;
        padding-bottom: 1.2rem;
    
    }

    &__p-macbook2{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 200;
        font-size: small;
        text-align: left;
    
    }

        &__square-web{
            display: none;
    
        }
   
    @media only screen and (min-width: 1000px){

        display: flex;
        flex-direction: row-reverse;
        margin-top: 3rem;
        margin-bottom: 2rem;


    &__dot-macbook2 {
        display: none;
    
    }


    &__img{
        padding-top: 2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 3rem;
        width: 30%;

    }

    &__square-web{
        display:initial;
        width: 60%;
        left: 7rem;
        
    }

    &__macbook2{
        position: absolute;
        width: 20%;
        right: 22%;
        margin-top: 2.5rem;
        margin-left: 2rem; 

        
    }

    &__text{
        display: flex;
        text-align: end;
        flex-flow:column;
        padding-top: 2rem;
        padding-left: 1rem;      
        width: 70%;

    }

    &__p-macbook2{
        width: 50%;
        border-bottom: 4px solid rgba(251, 59, 100, 1);
        padding-bottom: 3rem;

    }
}

}


.second__card {
    background-color:rgba(255, 255, 255, 1);
    border-color:rgba(232, 233, 237, 1);
    margin: auto;
    margin-bottom: 3rem;
    padding-top: 2.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    border-radius: .4rem;
    text-align: center;


    &__iphone{
        position: absolute;
        width: 45%;
        z-index: 1;

    }

    &__dot-iphone{
        position: relative;
        margin-left: .2rem;
        margin-top: -.5rem;

    }

    &__second__card__text{
        padding: .5rem;
    }

    &__text-iphone {
        font-family: "Raleway";
        font-size: xx-large;
        font-weight:300;
        text-align: left;
        margin-top: 1rem;
    
    }

    &__p-iphone{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 200;
        font-size: small;
        text-align: left;
        margin-top: 1rem;
    
    }

    &__iphone-web{
        display: none;

    }

    @media only screen and (min-width: 1000px){

        display: flex;
        margin:0;
        padding-top: 1rem;

    &__iphone{
        display: none;
    }

    &__img{
        display: flex;
        width: 30%;
        margin-right: 25%;
    }

    &__iphone-web{
        display: inherit;
        position: absolute;
        margin-left: 4rem;
        margin-top: 1.5rem;
        width: 18%;
        z-index: 1;

    }

    &__dot-iphone{
        margin-left: 3rem;
        margin-right: 10rem;
    }
    
    &__text{
        display: flex;
        flex-flow:column;
        text-align:end;
        padding-bottom: 2rem;
        padding-left: 7rem;
        width: 60%;

        
    }
        
    &__text-iphone{
        font-size: x-large;
        width: 50%;

    }

    &__p-iphone{
        font-size: x-small;
        border-bottom: 4px solid rgba(8, 166, 228, 1);
        padding-bottom: 2.5rem;
        width: 80%;
    }


    }
    

    
}


.third__card {
    background-color:rgba(255, 255, 255, 1);
    border-color:rgba(232, 233, 237, 1);
    padding-right: 2.9rem;
    border-radius: .4rem;
    text-align: center;


    &__text-trumpet{
        font-family: "Raleway";
        font-size: xx-large;
        font-weight:300;
        text-align: left;
        padding-top: 1rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        margin: block;

    }

    &__p-trumpet{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 200;
        font-size: small;
        text-align: left;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
    }



    &__trumpet{
        position: relative;
        width: 85%;
        top: 2rem;   
        z-index: 1;
           
    }
        
    &__bg-trumpet{
        position: absolute;
        right:2rem

        
    }
    


    @media only screen and (min-width: 1000px){
        display:inline-flex;
        justify-content: space-between;
        width: 60%;
        margin-right: -2rem;
        margin-top:1.5rem;
        margin-bottom: 3.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
       


    &__text-web{
        justify-content: start;
        width: 65%;
        flex-direction: column;
        padding-bottom: 2rem;
    }


    &__p-trumpet{
        border-bottom: 4px solid rgba(85, 223, 180, 1);
        padding-bottom: 3rem;
        text-align: left;
        
    }

    &__img{
        display: inline-flex;

    }
        

    &__trumpet{
        width: 70%;
        left: 10rem;
        top:10rem
            
    }

    &__bg-trumpet{
        width: 25%;
        height:40%;
        margin-top: 4.3rem;
        margin-right: 10rem;
   

    }


    }


 }




