*{
    margin:0;
    padding: 0;

    @media only screen and (min-width: 1000px) {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body {
        min-width: 320px;    

    }
}

@import "__navbar.scss";
@import "__firstcontainer.scss";
@import "__secondcontainer.scss";
@import "__thirdcontainer.scss";
@import "__pricingsection.scss";
@import "__contact.scss";
@import "__footer.scss";
