* {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 1000px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
* body {
  min-width: 320px;
}

.navbar {
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 5px 4px -3px rgba(0, 0, 0, 0.29);
}
.navbar__logo {
  font-weight: lighter;
  font-family: "Raleway";
  font-size: xx-large;
  color: rgb(8, 166, 228);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.6rem;
  display: inline;
}
.navbar__menu-img {
  position: absolute;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  margin-right: 1.4rem;
  right: 0;
}
@media only screen and (max-width: 999px) {
  .navbar__web-menu {
    display: none;
  }
  .navbar__logo-web {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar {
    padding: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__menu-img {
    display: none;
  }
  .navbar__logo {
    display: none;
  }
  .navbar__logo-web {
    font-weight: lighter;
    font-family: "Raleway";
    font-size: large;
    color: rgb(8, 166, 228);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 4rem;
    display: inline;
  }
  .navbar__web-menu {
    list-style: none;
    display: flex;
    align-content: end;
    margin-right: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  .navbar__web-menu2 {
    color: rgb(165, 165, 165);
    list-style: none;
    display: flex;
    align-content: end;
    margin-right: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
}

.first__section {
  background-color: white;
  text-align: center;
  margin-top: 2.5rem;
}
.first__section__text {
  font-family: "Raleway";
  font-size: xx-large;
  font-weight: 400;
  padding: 1.2rem;
}
.first__section__p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
}
.first__section__button-shop {
  color: rgb(255, 255, 255);
  background-color: rgb(8, 166, 228);
  border-radius: 2em;
  padding-top: 1.2rem;
  padding-right: 5rem;
  padding-bottom: 1.2rem;
  padding-left: 5rem;
  margin-top: 2.2rem;
  border-color: transparent;
  box-shadow: 7px 6px 6px rgba(7, 172, 230, 0.29);
  font-size: large;
  font-weight: 500;
}
.first__section__image {
  display: block;
  width: 100%;
  padding-top: 2rem;
}
@media only screen and (max-width: 999px) {
  .first__section__p-web {
    display: none;
  }
  .first__section__image-web {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .first__section__text {
    font-size: 40px;
    font-weight: 300;
  }
  .first__section__image {
    display: none;
  }
  .first__section__p {
    display: none;
  }
  .first__section__p-web {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    display: block;
    font-size: small;
  }
  .first__section__button-shop {
    padding-right: 8rem;
    padding-bottom: 0.7rem;
    padding-left: 8rem;
    margin-top: 2rem;
    font-size: small;
    font-weight: 500;
    justify-content: center;
  }
  .first__section__image-web {
    display: inline;
    width: 100%;
    height: auto;
  }
}

.second__section {
  position: relative;
  background-color: white;
  text-align: center;
  margin-top: 1rem;
}
.second__section__main-text {
  font-family: "Raleway";
  font-weight: 300;
  font-size: xx-large;
  padding-bottom: 2rem;
}
.second__section__person-icon {
  position: absolute;
  right: 39%;
}
.second__section__views-icon {
  position: absolute;
  right: 35%;
  top: 48.5%;
}
.second__section__post-icon {
  position: absolute;
  right: 37%;
  bottom: 19%;
}
.second__section__red-dot, .second__section__green-dot .second__section__blue-dot {
  right: 45%;
}
.second__section__entries-number, .second__section__views-number, .second__section__post-number {
  font-family: "Raleway";
  font-size: large;
  font-weight: 700;
  letter-spacing: 0.3rem;
}
.second__section__entries-text, .second__section__views-text, .second__section__post-text {
  font-family: "Raleway";
  font-weight: 100;
  font-size: medium;
  color: rgb(31, 30, 30);
  padding: 0.8rem;
}
@media only screen and (max-width: 999px) {
  .second__section__main-text-web {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .second__section__main-text {
    display: none;
  }
  .second__section__main-text-web {
    font-family: "Raleway";
    font-weight: 300;
    font-size: x-large;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .second__section__icons-web {
    display: flex;
    margin-top: 2rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
    justify-content: space-around;
  }
  .second__section__person-icon {
    display: flex;
    left: 26.7%;
    top: 40%;
  }
  .second__section__views-icon {
    display: flex;
    left: 48.7%;
    top: 44%;
  }
  .second__section__post-icon {
    display: flex;
    right: 21.7%;
    bottom: 41.6%;
  }
}

.third__section {
  background-color: rgb(232, 233, 237);
  padding-top: 3rem;
  padding-right: 2em;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.first__card {
  background-color: rgb(247, 247, 247);
  border-color: rgb(232, 233, 237);
  margin: auto;
  margin-bottom: 3rem;
  padding-top: 2.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  border-radius: 0.4rem;
  text-align: center;
}
.first__card__macbook2 {
  position: absolute;
  width: 50%;
  z-index: 1;
  margin-left: 1.5rem;
}
.first__card__dot-macbook2 {
  position: relative;
  margin-left: 6.5rem;
  margin-top: -2.5rem;
}
.first__card__text-macbook2 {
  font-family: "Raleway";
  font-size: xx-large;
  font-weight: 300;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 1.2rem;
}
.first__card__p-macbook2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: small;
  text-align: left;
}
@media only screen and (max-width: 999px) {
  .first__card__square-web {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .first__card {
    display: flex;
    align-items: center;
  }
  .first__card__dot-macbook2 {
    display: none;
  }
  .first__card__square-web {
    position: relative;
    margin-left: 6.5rem;
    margin-top: -2.5rem;
  }
}

.second__card {
  background-color: rgb(247, 247, 247);
  border-color: rgb(232, 233, 237);
  margin: auto;
  margin-bottom: 3rem;
  padding-top: 2.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  border-radius: 0.4rem;
  text-align: center;
}
.second__card__iphone {
  position: absolute;
  width: 50%;
  z-index: 1;
}
.second__card__dot-iphone {
  position: relative;
  margin-left: 0.2rem;
  margin-top: -0.5rem;
}
.second__card__text-iphone {
  font-family: "Raleway";
  font-size: xx-large;
  font-weight: 300;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 1.2rem;
}
.second__card__p-iphone {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: small;
  text-align: left;
}
@media only screen and (min-width: 1000px) {
  .second__card {
    display: flex;
    align-items: center;
  }
}

.third__card {
  background-color: rgb(247, 247, 247);
  border-color: rgb(232, 233, 237);
  padding-right: 2.9rem;
  margin: auto;
  border-radius: 0.4rem;
  text-align: center;
}
.third__card__text-trumpet {
  font-family: "Raleway";
  font-size: xx-large;
  font-weight: 300;
  text-align: left;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}
.third__card__p-trumpet {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: small;
  text-align: left;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
}
@media only screen and (min-width: 1000px) {
  .third__card {
    display: flex;
    align-items: center;
  }
}

.trumpet {
  position: absolute;
  width: 70%;
  z-index: 1;
  padding-top: 2rem;
  padding-left: 1.5rem;
}

.bg-trumpet {
  padding-right: 2.5rem;
  padding-bottom: 2rem;
}

.pricing__section {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.pricing__section__header {
  font-size: xx-large;
  font-family: "Raleway";
  font-weight: 300;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.basic {
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: rgb(251, 59, 100);
  border-width: 0.1rem;
  margin: auto;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 1rem;
  text-align: center;
}
.basic__text {
  font-size: larger;
  font-family: "Raleway";
  font-weight: 600;
  width: 50%;
  text-align: left;
  position: relative;
  top: 6rem;
  left: 1rem;
}
.basic__price {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(251, 59, 100);
  font-size: xxx-large;
  font-weight: 200;
  text-align: left;
  width: 50%;
  position: relative;
  top: 6.5rem;
  left: 0.7rem;
}
.basic__list {
  list-style: none;
  text-align: justify;
  display: inline-block;
  position: relative;
  left: 4rem;
  bottom: 1rem;
  justify-content: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 2rem;
}
.basic__pricing-button {
  position: relative;
  top: 1.5rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(251, 59, 100);
  border-color: transparent;
  padding-top: 1rem;
  padding-right: 3.5rem;
  padding-bottom: 1rem;
  padding-left: 3.5rem;
  border-radius: 2em;
}
.basic__check {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
.basic__cross {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

.pro {
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: rgb(7, 172, 230);
  border-width: 0.1rem;
  margin: auto;
  margin-bottom: 3rem;
  padding-right: 2rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
  text-align: center;
}
.pro__text {
  font-size: larger;
  font-family: "Raleway";
  font-weight: 600;
  width: 40%;
  text-align: left;
  position: relative;
  top: 7rem;
}
.pro__price {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(7, 172, 230);
  font-size: xxx-large;
  font-weight: 200;
  text-align: left;
  width: 50%;
  position: relative;
  top: 7.5rem;
  left: 0.5rem;
}
.pro__limited-offer {
  font-size: smaller;
  font-family: "Raleway";
  font-weight: 500;
  text-align: left;
  width: 50%;
  position: relative;
  top: 8.5rem;
  left: 0.8rem;
}
.pro__list {
  list-style: none;
  text-align: justify;
  display: inline-block;
  position: relative;
  left: 4rem;
  bottom: 1rem;
  justify-content: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 2rem;
}
.pro__button {
  position: relative;
  top: 1.5rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(7, 172, 230);
  border-color: transparent;
  padding-top: 1rem;
  padding-right: 3.5rem;
  padding-bottom: 1rem;
  padding-left: 3.5rem;
  border-radius: 2em;
}
.pro__check {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
.pro__cross {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

.premium {
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: rgb(85, 223, 180);
  border-width: 0.1rem;
  margin: auto;
  margin-bottom: 3rem;
  padding-right: 2rem;
  padding-left: 2rem;
  border-radius: 1rem;
  text-align: center;
}
.premium__text {
  font-size: larger;
  font-family: "Raleway";
  font-weight: 600;
  width: 40%;
  text-align: left;
  position: relative;
  top: 7rem;
}
.premium__price {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(85, 223, 180);
  font-size: xxx-large;
  font-weight: 200;
  text-align: left;
  width: 50%;
  position: relative;
  top: 7.5rem;
}
.premium__list {
  list-style: none;
  text-align: justify;
  display: inline-block;
  position: relative;
  left: 4rem;
  bottom: 1rem;
  justify-content: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 2rem;
}
.premium__button {
  position: relative;
  top: 1.5rem;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(85, 223, 180);
  border-color: transparent;
  padding-top: 1rem;
  padding-right: 3.5rem;
  padding-bottom: 1rem;
  padding-left: 3.5rem;
  border-radius: 2em;
}
.premium__check {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
.premium__cross {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

.pricing__web__check {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
.pricing__web__cross {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
@media only screen and (min-width: 1000px) {
  .pricing__web {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
  }
}

.contact {
  background-color: rgb(255, 255, 255);
  border: transparent;
  margin: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.contact__main-text {
  font-family: "Raleway";
  font-size: xx-large;
  font-weight: 400;
  text-align: left;
  padding-bottom: 0.5rem;
}
.contact__p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  font-weight: 300;
  text-align: left;
  margin-bottom: 1rem;
  position: relative;
}

.mail {
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.mail__p {
  color: rgb(165, 165, 165);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
  font-weight: 300;
  margin-bottom: 1rem;
  display: inline;
}
.mail__image {
  position: relative;
  top: 0.5rem;
}

.phone {
  padding-left: 2rem;
  padding-right: 2rem;
}
.phone__p {
  color: rgb(165, 165, 165);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
  font-weight: 300;
  margin-bottom: 2.5rem;
  display: inline;
}
.phone__image {
  position: relative;
  top: 0.5rem;
}

.form__section {
  padding-left: 2rem;
  padding-right: 2rem;
}
.form__section__name, .form__section__email {
  color: rgb(8, 166, 228);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: smaller;
  display: block;
  width: 100%;
}
.form__section__input[type=text], .form__section [type=email] {
  width: 100%;
  margin: 2rem 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(149, 152, 154);
}
.form__section__checkbox {
  display: block;
  margin-top: 2rem;
  width: 5%;
}
.form__section__consentment {
  color: rgb(112, 112, 112);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: small;
  display: inline-block;
  text-align: justify;
  position: relative;
  bottom: 1.5rem;
  padding-left: 2rem;
}

.send__button {
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(8, 166, 228);
  border-radius: 2em;
  padding-top: 1.2rem;
  padding-right: 5rem;
  padding-bottom: 1.2rem;
  padding-left: 5rem;
  margin-bottom: 2rem;
  margin-left: 6rem;
  border-color: transparent;
  box-shadow: 7px 6px 6px rgba(7, 172, 230, 0.29);
  font-size: large;
  font-weight: 500;
}

.footer {
  padding-top: 1.4rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 -10px 20px -5px rgba(0, 0, 0, 0.29);
}
.footer__main-text {
  color: rgb(8, 166, 228);
  font-family: "Raleway";
  font-size: xx-large;
  font-weight: lighter;
  display: inline;
}
.footer__p {
  color: rgb(165, 165, 165);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: smaller;
  font-weight: 300;
}
.footer__img {
  position: relative;
  left: 16rem;
  bottom: 2rem;
  padding-right: 1rem;
}
@media only screen and (max-width: 999px) {
  .footer__web {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .footer__main-text {
    display: none;
  }
  .footer__web {
    color: rgb(8, 166, 228);
    font-family: "Raleway";
    font-size: x-large;
    font-weight: lighter;
    display: inline;
    margin-left: 2rem;
  }
  .footer__p {
    color: rgb(165, 165, 165);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: xx-small;
    font-weight: 300;
    margin-left: 2rem;
  }
  .footer__img {
    display: inline-flexbox;
    justify-content: flex-end;
    margin-right: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */